<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- PayPal SDK -->
  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
  </configSections>
  <!-- PayPal account settings-->
  <paypal>
    <accounts>
      <account apiUsername="v43-restpaypal_api1.paypal.com"
               apiPassword="1401953957"
               applicationId="AWtntRAKxlY4vM-7JBoisYOQpMPQedeSy1gpJdevvXO6QIFBwWsevpsHyAAM"
               apiSignature="AWILTMiEgbPiXlFfxmuQt2rlnSucAC3E0QahYrxLBLMEzya0MLgK-54c"
             />
    </accounts>
    <settings>
      <add name="mode" value="sandbox"/>
    </settings>
  </paypal>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>